@model CyComputer.Models.Compra

@{
    ViewData["Title"] = "Editar Pedido de Compra";
}

<div class="container mt-5">
    <h2>@ViewData["Title"]</h2>

    <form asp-action="Edit">
        <div class="form-group">
            <label asp-for="IdProveedor" class="control-label">Proveedor</label>
            <select asp-for="IdProveedor" class="form-control" asp-items="ViewBag.IdProveedor">
                <option value="">Seleccione un Proveedor</option>
            </select>
        </div>

        <div class="form-group">
            <label asp-for="Fecha" class="control-label">Fecha</label>
            <input asp-for="Fecha" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Total" class="control-label">Total</label>
            <input asp-for="Total" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Estado" class="control-label">Estado</label>
            <input asp-for="Estado" class="form-control" />
        </div>

        <div class="form-group">
            <label for="Productos">Productos</label>
            <select class="form-control" multiple id="Productos" name="Productos">
                @foreach (var producto in ViewBag.Productos)
                {
                    <option value="@producto.Value">@producto.Text</option>
                }
            </select>
        </div>
        <input type="hidden" asp-for="IdCompra" />
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
